.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all .3s ease;

    &:after {
        height: 0;
        transition: all .7s ease;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
        background-color: #1F2430;
    }
    
    .inner {
        position: relative;
        z-index: 3;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0 15px 0;

            .burger {
                display: none;
            }

            .logo {
                width: 83px;
                height: 68px;
                flex: 0 0 auto;
                height: 70px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }   
            }

            .label {
                color: #fff;
                font-weight: 700;
            }

            .info {
                display: flex;
                align-items: flex-end;

                .icon {
                    color: var(--gold);
                    font-size: 16px;
                    line-height: 100%;
                    margin-right: 5px;
                }

                .body {
                    .name {
                        text-transform: uppercase;
                        color: #788090;
                        margin-bottom: 5px;
                        font-size: 10px;
                        line-height: 12px;
                    }
                    .link {
                        font-weight: 600;
                    }
                }
            }
        }
        .main {
            padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .nav_item {

                    .nav_link {
                        transition: all .3s ease;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 100%;
                        &:hover {
                            color: var(--gold);
                            
                        }
                    }
                   
                }

                .nav_item.active {
                    .nav_link {
                        color: var(--gold)
                    }
                }
            }
        }
    }
}

.wrapper.active {
    
    &:after {
        height: 100%;
    }
}

.wrapper.hidden {
    transform: translateY(-100%);
}


@media (max-width: 1200px) {

    .wrapper {

        .inner {

            .top {

                .label {
                    display: none;
                }
            }
        }

    }

    
}

@media (max-width: 1024px) {
    .wrapper {

        .inner {

            .top {
                .info {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper.hidden {
        transform: translateY(0);
    }

    .wrapper {

        .inner {
            .top {
                padding: 15px 0;

                .logo {
                    height: 50px;
                    width: auto;
                }

                .action {
                    display: none;
                }
    
                .burger {
                    display: block;
                    width: 60px;
                    height: 40px;
                    position: relative;
                    
                    span {
                        display: block;
                        width: 100%;
                        position: absolute;
                        height: 4px;
                        border-radius: 10px;
                        background-color: var(--gold);
                        left: 0;
                        transition: all .3s ease;
    
                        &:nth-child(1) {
                            top: 0;
                        }
                        &:nth-child(2) {
                            top: calc(50% - 2px);
                        }   
                        &:nth-child(3) {
                            bottom: 0;
                        }
                    }
                }

                .burger.active {

                    span {
                        &:nth-child(1) {
                            transform: translateY(18px) rotate(45deg);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: translateY(-18px) rotate(-45deg);
                        }
                    }
                }
            }
    
            .main {
                display: none;
            }
        }
    }
}

@media (max-width: 520px) {

    .wrapper {
        .inner {
            .top {
                .logo {
                    // width: 100px;
                    // height: 30px;
                }
                .burger {
                    width: 40px;
                    height: 20px;
                }
                .burger.active {

                    span {
                        &:nth-child(1) {
                            transform: translateY(8px) rotate(45deg);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}