.wrapper {

    .in {
        padding: 220px 0 40px;

        .head {
            margin-bottom: 30px;
        }

        .kw {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .kw_item {
                margin: 0 4px;
                margin-bottom: 10px;
            }
        }

        .body {

            .item {
                margin-bottom: 20px;
            }
        }
    }


}

@media (max-width: 768px) {
    .wrapper {

        .in {
            padding-top: 100px;
        }
    }
}