.wrapper {

    .in {
        padding: 40px 0;

        .head {
            margin-bottom: 30px;
        }

        .body {
            .item {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .wrapper {

        .in {
            padding: 30px 0;

            .head {
                margin-bottom: 25px;
            }

            .body {

            }
        }
    }
}