.wrapper {

    .input {
        padding: 11px 15px;
        display: block;
        width: 100%;
        background-color: #F8ECDE;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
        line-height: 22px;
    }
}

.wrapper.dark {

    .input {
        background-color: #1F2430;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}