.wrapper {
    background-color: #F8ECDE;

    .in {
        padding: 50px 0;

        .head {
            margin-bottom: 50px;
        }

        .tabs {
            margin-bottom: 50px;
        }

        .body {

        }
    }
}