.wrapper {
    .in {
        padding: 60px 0;
        
        .head {
            margin-bottom: 40px;
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 35px;
            justify-content: center;
            
            .item {
                width: calc((100% / 3) - 40px);
                margin: 0 20px;
                margin-bottom: 40px;
            }
        }

        .ex {
            font-size: 24px;
            line-height: 33px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
            padding-bottom: 40px;
        }
    }
}