.button {
    transition: all .8s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

    .text {
        position: relative;
        z-index: 4;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
    }
}

.button.bordered {
    border: 1px solid var(--gold);

    &:after {
        position: absolute;
        top: 0;
        left: -15px;
        width: 0;
        height: 100%;
        -webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
        background: var(--gold_gradient);
        content: '';
        transition: all .8s ease;

    }

    &:before {
        background-color: #fff;
        width: 0;
        content: '';
        top: 0;
        left: -15px;
        height: 100%;
        transition: all .8s ease;
        position: absolute;
        z-index: 3;
        -webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
    }

    .text {
        color: var(--gold);
        transition: all .8s ease;
    }

    &:hover {

        &:after {
            width: calc(100% + 30px);
        }

        

        .text {
            color: #fff;
        }
    }

    // &:active {
    //     border-color: #fff;

    //     &:before {
    //         width: calc(100% + 20px);
    //     }

    //     .text {
    //         color: var(--gold);
    //     }
    // }
}

.button.fill {
    background: var(--gold_gradient);

    .text {
        color: #fff;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        -webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
         width: 10px;
         height: 100%;
         left: -30px;
         background-color: #fff;
         transition: all .3s ease;
    }

    &:hover {
        // filter: drop-shadow(0 0 10px rgba(#E7BE89, .8));

        &:after {
            left: calc(100% + 15px);
        }
    }
}

.button.upper {
    .text {
        text-transform: uppercase;
    }
}