.wrapper {
    background-color: #F8ECDE;
    color: var(--black);
    
    .in {
        padding: 100px 0 70px 0;

        .head {
            margin-bottom: 80px;    
        }


        .body {
            
            display: flex;
            align-items: center;
            margin-left: -4px;
            margin-right: -4px;
            justify-content: center;

            .item {
               
                margin: 170px 4px;
                height: 60px;
                width: calc((100% / 6) - 8px);
                background: var(--gold_gradient);
                border-radius: 30px;
                position: relative;

                &:after {
                    content: '';
                    border-radius: 100%;
                    background-color: 
                    #A88455;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: calc(50% - 12.5px);
                }

                // &:before {
                //     content: '';
                //     width: 3px;
                //     background-color: #A88455;
                //     height: 0;
                //     transition: all 1s ease;
                //     position: absolute;
                //     left: calc(50% - 1.5px);
                // }

                .line {
                    position: absolute;
                    width: 3px;
                    // height: 0;
                    height: 170px;
                    left: calc(50% - 1.5px);
                    background-color: #A88455;
                    // transition: all 1s ease;

                }


                &:nth-child(odd) {
                    &:after {
                        top: -12.5px;
                    }

                    .line {
                        bottom: 60px;
                    }
                    // &:before {
                    //     // top: -170px;
                    //     bottom: 60px;
                    //     // background-color: red;
                    // }
                    .label {
                        top: -190px;
                    }
                }

                &:nth-child(even) {
                    &:after {
                        bottom: -12.5px;
                    }
                    // &:before {
                    //     // bottom: -170px;
                    //     top: 60px;
                    //     // background-color: green;
                    // }
                    .line {
                        top: 60px;
                    }

                    .label {
                        bottom: -190px;
                    }
                }

                .num {
                    font-size: 55px;
                    line-height: 60px;
                    transform: translateY(-30px);
                }

                .label {
                    position: absolute;
                    text-align: center;
                    max-width: 350px;
                    width: 100%;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140%;
                    padding: 0 5px;
                    background-color: #F8ECDE;

                    span {
                        font-weight: 300;
                        display: block;
                        font-size: 12px;
                        line-height: 17px;
                    }
                }
            }   

        }
    }
}

@media (max-width: 1000px) {

    .wrapper {
        display: none;
        .in {

            .body { 
                flex-direction: column;

                // .item {
                //     width: calc(100% - 8px);
                //     margin: 0;
                //     margin-bottom: 30px;
                //     display: flex;
                //     justify-content: center;
                    
                //     .line {
                //         display: none;
                //     }

                //     .num {
                //         position: absolute;
                //         top: 0;
                //         left: 0;
                //     }
                //     &:after {
                //         display: none;
                //     }

                //     .label {
                //         position: static;
                //     }
                // }


                .item {
                    margin: 20px 170px;

                    // .line {
                    //     display: none;
                    // }

                    .line {
                        transform: rotate(90deg);
                        bottom: unset !important;
                        top: -55px !important;
                    }

                    .label {
                        top: 0 !important;
                        font-size: 16px;
                        line-height: 19px;
                        height: 100%;
                        // border: 1px solid red;
                    }

                    &:after {
                        top: calc(50% - 12.5px) !important;
                    }

                    &:nth-child(odd) {
                        &:after {
                            left: -12.5px;
                        }
    
                        .line {
                            left: -51%;
                        }   
                        // &:before {
                        //     // top: -170px;
                        //     bottom: 60px;
                        //     // background-color: red;
                        // }
                        .label {
                            left: -250px;
                        }
                    }

                    &:nth-child(even) {
                        &:after {
                            left: unset;
                            right: -12.5px;
                        }

                        .label {
                            right: -250px;
                        }

                        .line {
                            right: -51% !important;
                            left: unset;
                        }
                    }
                }
            }
        }
    }
}