.wrapper {
    padding: 20px;
    background: #1A2231;
    border: 1px solid #32415E;
    border-radius: 15px;
    height: 100%;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
    

    &:hover {
        background-color: #32415E;
        transform: scale(1.1);
        z-index: 10 ;
        .body {
            .action {
                height: 62px;
                padding-top: 10px;
            }
        }
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        height: 150px;


        img {
            max-width: 170px;
            max-height: 150px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }

    .body {
        .name {
            text-transform: uppercase;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 15px;
        }
        .descr {
            color: rgba(255, 255, 255, 0.52);
            margin-bottom: 15px;
        }
        .prices {
            .new {
                font-size: 24px;
                line-height: 140%;
                font-weight: 500;
            }
            .old {
                opacity: .5;
                text-decoration: line-through;
            }
        }
        .action {
            height: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
            transform: translateY(100%);
            z-index: 10;
            
            transition: all .3s ease;

            button {
                width: 100%;
            }
        }
    }
}