.wrapper {
    background-color: #F8ECDE;
    color: var(--black);


    .in {
        padding: 70px 0;

        .title {
            margin-bottom: 50px;
        }

        .tabs {
            margin-bottom: 50px;
        }

        .text {
            text-align: center;
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 30px;
        }

        .body {


        }
    }
}