.wrapper {
    height: 800px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;


    .image {
        width: 100%;
        height: 40%;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
        }
    }   
    
    .descr {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        padding: 30px;
        min-height: 70%;
        margin-top: -10px;
        
        background: #FFFFFF;
        //border: 1px solid rgba(50, 65, 94, 0.23);
        border-radius: 15px;

        .title {
            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;

            .title_el {
                text-transform: uppercase;
                padding: 16px 50px;
                background-color: var(--gold);
                border-radius: 30px;
                font-weight: 700;
                color: var(--black);
            }
        }

        .text {
            color: var(--black);

            span {
                display: block;
                font-weight: 700;
            }

            ul {
                li {
                    position: relative;
                    padding-left: 20px;
                    &:after {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        background-color: var(--gold);
                        content: '';
                        top: calc(50% - 5px);
                        left: 0;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {

    .wrapper {
        height: 650px;
        .descr {
            padding: 20px;
            .title {
                margin-bottom: 10px;

                .title_el {
                    padding: 10px 30px;
                    font-size: 14px;
                    line-height: 14px;
                }
            }
            .text {
                font-size: 14px;
                line-height: 20px;
                height: unset;
            }
        }
    }
}