* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button {
    background-color: unset;
    border: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 27px;
    min-height: 100vh;
    color: #fff;
    background-color: 
    #1B202C;
    overscroll-behavior-y: none;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--black);
        // border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--gold); 
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 520px) {
    body {
        font-size: 14px;
        line-height: 21px;
    }
}



.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    will-change: transform;
  }

.wrapper {
    position: relative;
}

.page-title {
    color: var(--gold);
    font-weight: 300;
    font-size: 50px;
    line-height: 64px;
}

.page-title.light {
    color: #fff;
}

.page-title.dark {
    color: var(--black);
}

.page-title.center {
    text-align: center;
}

.page-title.right {
    text-align: right;
}

@media (max-width: 768px) {
    .page-title {
        font-size: 40px;
        line-height: 50px;
    }
}

.top-block {
    padding-top: 220px;
}

@media (max-width: 768px) {
    .top-block {
        padding-top: 135px;
    }
}

@media (max-width: 520px) {
    .top-block {
        padding-top: 90px;
    }
}


.ant-modal {
    color: #fff;
    
    .ant-modal-content {
        padding: 30px 70px;
        background-color: #1A2231;
        border-radius: 20px;
    }
    .ant-modal-footer {
        display: none;
    }

    .ant-modal-close-x {
        color:#fff;
    }
}

@media (max-width: 768px) {

    .ant-modal {
        .ant-modal-content {
            padding: 20px;
        }
    }
}


.swiper-slide.swiper-slide-thumb-active {
    border: 2px solid var(--gold) !important;
}


.ant-modal {
    .ant-modal-content {
        padding: 35px 60px;
    }
}

@media (max-width: 600px) {

    .ant-modal {

        .ant-modal-content {
            padding: 30px 20px;
        }
    }
}

.b24-widget-button-wrapper {
    bottom: 100px !important;
}