* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button {
    background-color: unset;
    border: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 22px;
    min-height: 100vh;
    color: #fff;
    background-color: 
    #1B202C;
    overscroll-behavior-y: none;
}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    will-change: transform;
  }

.wrapper {
    position: relative;
}

.page-title {
    color: var(--gold);
    font-weight: 300;
    font-size: 50px;
    line-height: 64px;
}

.page-title.light {
    color: #fff;
}

.page-title.dark {
    color: var(--black);
}

.page-title.center {
    text-align: center;
}

.page-title.right {
    text-align: right;
}

.top-block {
    padding-top: 220px;
}