.wrapper {
    background-color: #F8ECDE;
    padding-bottom: 80px;
    background-image: url('../../public/assets/feedback-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: var(--black);
    padding: 70px 0;

    .in {
        background-color: #fff;
        border-radius: 22px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .part {
            width: 48%;
        }

        .descr {

            .title {
                font-size: 29px;
                line-height: 40px;
                margin-bottom: 12px;
                font-weight: 500;


                span {
                    color: var(--gold);
                    display: block;
                }
            }
            .text {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 25px;
            }

            .ex {
                padding-left: 90px;
                max-width: calc(260px + 90px);
                width: 100%;
                position: relative;
                font-size: 14px;
                line-height: 140%;

                &:after {
                    position: absolute;
                    top: calc(50% - 25px);
                    left: 0;
                    width: 50px;
                    height: 50px;
                    background-image: url('../../public/assets/check.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    content: '';
                }

                .head {
                    margin-bottom: 5px;
                    color: var(--gold);
                    text-transform: uppercase;

                }
                .body {
                    color:#788090;
                }
            }
        }

        .form {

            .body {
                display: flex;
                flex-wrap: wrap;
                margin-left: -5px;
                margin-right: -5px;
                margin-bottom: 10px;

                .field {
                    margin: 5px;

                    &:nth-child(1) {
                        width: calc((100% / 2) - 10px);
                    }
                    &:nth-child(2) {
                        width: calc((100% / 2) - 10px);
                    }
                    &:nth-child(3) {
                        width: calc(100% - 10px);
                    }
                }
            }
            .action {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;

            }
            .link {
                text-align: center;
                opacity: .6;
                a {
                    text-decoration: underline;
                    display: block;
                    transition: all .3s ease;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.wrapper.dark {
    background-color: #1B202C;
    color: 
    #788090;
    
    .in {
        background: #1F2430;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 22px;

        .descr {
            .title {
                color: #fff;
            }
        }
    }
}


@media (max-width: 768px) {
    .wrapper {
        padding: 30px 0; 
        .in {
            flex-wrap: wrap;
            padding: 40px 20px;
            .part {
                width: 100%;

                
                
            }
            .descr {
                margin-bottom: 20px;

                .title {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            .form {
                .body {
                    flex-wrap: wrap;
                    .field {
                        width: 100% !important;
                        margin: 0;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}