.wrapper {
    background-color: #1F2430;

    .in {
        .main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 35px 0;

            .nav {
                max-width: 225px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .item {
                    width: 48%;
                    margin-bottom: 12px;
                    color: #F0F0F0;

                    a {
                        transition: all .3s ease;
                        font-size: 14px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            .cn {
                display: flex;
                flex-direction: column;
                // align-items: center;

                .adr {
                    margin-bottom: 12px;
                    // text-align: center;
                }
                .tel {
                    // text-align: center;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                }
            }

            .logo {
            
                max-width: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }

                .logo_main {
                    width: 150px;
                    height: 150px;
                    margin-right: 20px;
                    flex: 0 0 auto;
                }

                .logo_ex {
                    flex: 0 0 auto;
                    .logo_manawell {
                        width: 185px;

                    }

                    .logo_onepool {
                        width: 155px;
                    }
                }
            }
        }
        .ex {
            border-top: 1px solid rgba(#fff, .1);
            padding: 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;
            font-size: 12px;
            line-height: 18px;
            color: rgba(240, 240, 240, 0.5);
        }
    }
}

@media (max-width: 768px) {

    .wrapper {

        .in {

            .main {
                flex-wrap: wrap;

                .nav {
                    display: none;
                }
                .logo {
                    margin-bottom: 30px;
                    width: 100%;
                    //justify-content: space-between;
                    justify-content: flex-start;
                    .logo_main {
                        width: 30%;
                    }

                    .logo_ex {
                        width: 30%;
                        .logo_manawell {
                            width: 100%;
                        }

                        .logo_onepool {
                            width: 100%;
                        }
                    }
                }

                .cn {
                    width: 100%;
                    order: 2;
                    align-items: flex-start;
                }
            }
        }
    }
}