.wrapper {
    position: relative;
    z-index: 10;

   

    .in {
        padding: 40px 0;
        position: relative;
        z-index: 10;
        
        .head {
            margin-bottom: 30px;
        }

        .sub {
            margin-bottom: 30px;
            text-align: center;

            span {
                font-weight: 700;
            }
        }

        .body.fr {
            .item {
                width: calc((100% / 4) - 20px);
            }
        }

        .body {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            margin-left: -10px;
            margin-right: -10px;
            flex-wrap: wrap;
            justify-content: center;
            
            .item { 
                width: 100%;
                width: calc((100% / 3) - 20px);
                padding-top: 55px;
                margin: 0 10px 20px 10px;
                

                .item_in {
                    padding: 65px 30px 15px 30px;
                    min-height: 260px;
                    height: 100%;
                    background: #1A2231;
                    border: 1px solid #32415E;
                    border-radius: 15px;
                    position: relative;
                    color: #fff;
                }


                .icon {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #1A2231;
                    border: 1px solid #32415E;
                    z-index: 3;
                    position: absolute;
                    top: -50px;
                    left: calc(50% - 50px);
                    position: absolute;

                    img {
                        max-width: 50px;
                        max-height: 50px;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }   

                .title {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 18px;
                    font-size: 18px;
                    line-height: 27px;
                }

                .text {
                    color: #788090;
                    text-align: center;
                }
            }
        }
        .action {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


@media (max-width: 1024px) {

    .wrapper {

        .in {
            

            .body {

                .item {
                    
                    .title {
                        font-size: 16px;
                        line-height: 19px;
                    }

                    .item_in {
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                    .text {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .wrapper {

        .in {
            padding: 30px 0;

            .head {
                margin-bottom: 25px;
            }

            .body {

                .item {
                    width: calc((100% / 2) - 20px);
                }
            }

            .body.fr {
                .item {
                    width: calc((100% / 2) - 20px);
                }
            }
        }
    }
}

@media (max-width: 600px) {

    .wrapper {

        .in {

            .body {

                .item {
                    width: calc(100% - 20px);

                    .item_in {
                        min-height: unset;
                    }
                }
            }

            .body.fr {
                .item {
                    width: calc(100% - 20px);

                    .item_in {
                        min-height: unset;
                    }
                    
                }
            }
        }
    }
}