.wrapper {

    .in {
        padding: 80px;

        .head {
            margin-bottom: 40px;
        }

        .subtitle {
            margin-bottom: 40px;
            text-align: center;
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: 40px;


            .item {
                width: calc((100% / 3) - 40px);
                margin: 20px;
            }
        }

        .action {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 1000px) {
    .wrapper {

        .in {
            padding: 30px 0;

            .head {
                margin-bottom: 25px;

            }

            .body {

                .item {
                    width: calc((100% / 2) - 40px);
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .wrapper {

        .in {

            .body {

                .item {
                    width: calc(100% - 40px);
                }
            }
        }
    }
}