.wrapper {

    .in {
        padding: 40px 0;

        .head {
            margin-bottom: 30px;

            .title {
                margin-bottom: 30px;
            }

            .sub {
                text-align: center;

            }
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            margin-left: -22.5px;
            margin-right: -22.5px;

            .item {
                width: calc((100% / 4) - 45px);
                margin: 0 22.5px;
                margin-bottom: 45px;
            }
        }
    }
}

@media (max-width: 1024px) {

    .wrapper {

        .in {
            padding-bottom: 30px;

            .head {
                margin-bottom: 25px;
            }

            .body {
                margin-left: -15px;
                margin-right: -15px;

                .item {
                    width: calc((100% / 3) - 30px);
                    margin: 0 15px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .wrapper {

        .in {
            padding-top: 130px;

            .body {

                .item {
                    width: calc((100% / 2) - 30px);
                }
            }
        }
    }
}

@media (max-width: 520px) {

    .wrapper {

        .in {

            .body {
                margin-left: 0;
                margin-right: 0;
                
                .item {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}