.wrapper {

    .in {
        padding: 40px 0;

        .head {
            margin-bottom: 30px;
        }
        .body {
            
        }
    }
}

@media (max-width: 768px) {

    .wrapper {

        .in {
            padding: 30px 0;

            .head {

            }

            .body {
                
            }
        }
    }
}