.wrapper {

    .in {
        padding: 60px 0;

        .head {
            margin-bottom: 40px;
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            
            .item {
                width: calc((100% / 2) - 20px);
                margin: 0 10px 20px 10px;

                .item_in {
                    height: 100%;
                    overflow: hidden;

                    img {
                        max-height: 475px;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
            }
        }
    }
}